
<div class="container-fluid">

    <h2>Stock List with 20 Day Rolling AVG</h2>
    <br><br>
    <div class="forms">

        
        <form id="addBtn" method="POST" action="/symbols">
            <input type="text" name="name" value="<%= stocks.ticker %>">
            <button class="btn btn-primary" type="submit"  >Add to All Stocks List</button>
        </form>
        <br>
        <form id="updateBtn" method="POST" action="/symbols?_method=PUT">
            <input hidden type="text" name="name" value="<%= stocks.ticker %>">
            <button type="submit">Update All Table Data 📈💹</button>
        </form>
        <br>
        
        <form id="filterBtn" method="GET" action="/symbols/number">
            <label for="number">Filter by price</label> <br>
            <input type="number" name="number" value=""> 
            <button class="btn btn-primary" type="submit"  >Go</button>
        </form>
    </div>
    
    <hr>
    
    <div class="tableHeaders">
<h4>All Stocks + 20 and 70 Day Breakouts</h4>
<h4>Stocks closed below 20 Day Rolling Average</h4>
<h4>Reddit WallStreet Bets </h4>
    </div>


    <div class=" w3row bothtables"><% //div for all tables %>
        <div class=w3column>


           
            
            
            <% //Should have a check box to potentially hide all stocks where last close is higher%>
            
            <table class=" table-bordered smtable my-custom-scrollbar table-wrapper-scroll-y ">
                            
                            
                            
                <thead>
                    <tr>
                        <th scope="col">All Stocks</th>
                        <th scope="col">20 D</th>
                        <th scope="col">70 D</th>

                    </tr> 
                </thead>


                <% stocks.forEach(function(stock) { %>
                    <% //if(stock.lastClose < num ){%>
                        <div class="smrow col-sm">
                            <%if(stock.rollingAvg>stock.lastClose|| stock.twentyDayBreakout == true || stock.seventyDayBreakout ==true){%>
                                
                                <tr class="green">
                                    <td class="col-sm"><p><u><%= (stock.ticker) %></u></p></td>
                                    <td class="col-sm"><p><u><%= (stock.twentyDayBreakout) %></u></p></td>
                                    <td class="col-sm"><p><u><%= (stock.seventyDayBreakout) %></u></p></td>
                                    
                                    <td class="col-sm"><form action="/symbols/<%=stock.ticker%>?_method=DELETE" method="POST">
                                        <button type="submit" name="ticker" value="<%=stock.ticker%>">❌</button>
                                    </form></td>
                                </tr>
                                
                                
                                <%}else{%>
                                    <tr>
                                        
                                        <td><p></p><%= (stock.ticker) %></p></td>
                                        <td><p></p><%= (stock.twentyDayBreakout) %></p></td>
                                        <td><p></p><%= (stock.seventyDayBreakout) %></p></td>
                                        
                                        <td><form action="/symbols/<%=stock.ticker%>?_method=DELETE" method="POST">
                                            <button type="submit" name="ticker" value="<%=stock.ticker%>">❌</button>
                                        </form></td>
                                    </tr>
                                    <%}%>
                        </div>
                                
                                <%//}%>
                                
                                <%})%>
                                
                                
                            
                                
                                
            
                            
                                
            </table>
        </div>   
            
            <table class="  table-bordered bigtable my-custom-scrollbar table-wrapper-scroll-y table-sm">
                
                
                
                                
                <thead>
                    
                    <th scope="col"><p>Stock</p></th>
                                    <th scope="col"><p>Rolling Avg</p></th>
                                    <th scope="col"><p>Last Close</p></th>
                                    <th scope="col"><p>Date Run</p></th>
                                   
                                    
                                    
                                </thead>
                                
                                <% let i = 0 %>


                                <% stocks.forEach(function(stock) { %>
                                    
                                    <tbody>
                                        
                                        <%if(stock.rollingAvg > stock.lastClose){%>
                                            <%i++%>
                                            
                                                <tr class="green">
                                                    
                                                    <th><u><%= (stock.ticker) %></u></th>
                                                    <td><u><%= (stock.rollingAvg) %></u></td>
                                                    <td><u><%= (stock.lastClose) %></u></td> 
                                                    <td><u><%= (stock.date.toLocaleString()) %></u></td>
                                                   
                                                    
                                    </tr>
                                </div>
                            </tbody>
                            
                            
                            <%}%>
                            
                            
                            
                            <%})%>
                            
                            
                        </table> 
                   


     <% // WSB TABLE %>
     
     <table class="wsbTable w3row table-bordered bigtable my-custom-scrollbar table-wrapper-scroll-y table-sm">
                
         
         <thead>
             
             
             <th scope="col"><p>Ticker</p></th>
             <th scope="col"><p>Sentiment</p></th>
             <th scope="col"><p>Sentiment Score</p></th>
             <th scope="col"><p>Updated At</p></th>
             
            </thead>
            
                        
                        
                        <% wsb.forEach(function(wsbitem) { %>
                            
                            <tbody>
                                
                                
                                    <%i++%>
                                   
                                        <tr class="wsbrows">
                                            
                                            <th><%= (wsbitem.ticker) %></th>
                                            <td><%= (wsbitem.sentiment) %></td>
                                            <td><%= (wsbitem.sentiment_score) %></td> 
                                            <td><%= (wsbitem.updatedAt.toLocaleString()) %></td> 
                                            
                            </tr>
                        </div>
                    </tbody>
                    
                    
                    
                    
                    
                    
                    <%})%>
                    
                    
                    
    </table>  
    </div>   
          
                
           
                
               



    
        
                
                
                
      
    

    
</div>