




<div class="container-fluid">
    <div class="forcolor">

    
        
        <br><br>
        <div class="forms">

            
            <form id="addBtn" method="POST" action="/symbols">
                <input type="text" name="name" value="<%= stocks.ticker %>">
                <button class="btn btn-primary" type="submit"  >Add to All Stocks List</button>
            </form>
            <br>



            <form id="updateBtn" method="POST" action="/symbols?_method=PUT">
                <label for="submit" id="buttonid"  ></label> <br>
                <input hidden type="text" name="name" value="<%= stocks.ticker %>">
                <button class="btn btn-success" id="submitbutton" type="submit">Update All Table Data 📈</button>
            </form>



            <br>
            
            <form id="filterBtn" method="GET" action="/symbols/number">
                <label id="filterText" for="number">Filter by max price willing to pay per share</label> <br>
                <input type="number" name="number" value="" placeholder=""> 
                <button class="btn btn-primary" type="submit"  >Go</button>
            </form>
        </div>
    
    </div>

    <hr>
    
    <div class="tableHeaders">
<h4>All Stocks + 20 and 70 Day Breakouts</h4>
<h4>Stocks closed below 20 Day Rolling Average</h4>
<h4>Reddit WallStreet Bets </h4>
    </div>


    <div class=" w3row bothtables "><% //div for all tables %>
        <div class="w3column">


           
            
            
            
            
            <table class="w3row table-bordered smtable my-custom-scrollbar table-wrapper-scroll-y tableone">
                            
                            
                            
                <thead>
                    <tr>
                        <th scope="col">All Stocks</th>
                        <th scope="col">20 D</th>
                        <th scope="col">70 D</th>

                    </tr> 
                </thead>


                <% stocks.forEach(function(stock) { %>
                    
                        
                    <% if(stock.twentyDayBreakout == true || stock.seventyDayBreakout ==true) { %>
                                
                                <tr class="green">
                                    <th><u><a href="/symbols/details/<%=stock.ticker%>"><%= (stock.ticker) %></a></u></th>
                                    <td class="col-sm"><p><u><%= (stock.twentyDayBreakout) %></u></p></td>
                                    <td class="col-sm"><p><u><%= (stock.seventyDayBreakout) %></u></p></td>
                                    
                                    <td class="col-sm"><form action="/symbols/<%=stock.ticker%>?_method=DELETE" method="POST">
                                        <button type="submit" name="ticker" value="<%=stock.ticker%>">❌</button>
                                    </form></td>
                                </tr>
                                
                                
                                <% }else{%>
                                    <tr>
                                        
                                        <th><a href="/symbols/details/<%=stock.ticker%>"><%= (stock.ticker) %></a></th>
                                        <td><%= (stock.twentyDayBreakout) %></td>
                                        <td><%= (stock.seventyDayBreakout) %></td>
                                        
                                        <td><form action="/symbols/<%=stock.ticker%>?_method=DELETE" method="POST">
                                            <button type="submit" name="ticker" value="<%=stock.ticker%>">❌</button>
                                        </form></td>
                                    </tr>
                                    <%}%>
                        </div>
                                
                                <%//}%>
                                
                <% }) %>
                                
                                
                            
                                
                                
            
                            
                                
            </table>
        </div>   
            
            <table class=" w3row table-bordered bigtable my-custom-scrollbar table-wrapper-scroll-y tabletwo">
                
                
                
                                
                <thead>
                    
                    <th scope="col">Stock</th>
                                    <th scope="col">Rolling Avg</th>
                                    <th scope="col">Last Close</th>
                                    <th scope="col">Date Run</th>
                                   
                                    
                                    
                                </thead>
                                
                                <% let i = 0 %>


                                <% stocks.forEach(function(stock) { %>
                                    
                                    <tbody>
                                        
                                        <%if(stock.rollingAvg > stock.lastClose){%>
                                            <%i++%>
                                            
                                                <tr class="green">
                                                    
                                                    <th><u><a href="/symbols/details/<%=stock.ticker%>"><%= (stock.ticker) %></a></u></th>
                                                    <td><u><%= (stock.rollingAvg) %></u></td>
                                                    <td><u><%= (stock.lastClose) %></u></td> 
                                                    <td><u><%= (stock.date.toLocaleString()) %></u></td>
                                                   
                                                    
                                    </tr>
                                </div>
                            </tbody>
                            
                            
                            <%}%>
                            
                            
                            
                            <%})%>
                            
                            
                        </table> 
                   


     <% // WSB TABLE %>
     
     <table class="wsbTable w3row table-bordered  my-custom-scrollbar table-wrapper-scroll-y table-sm tablethree">
               
         
         <thead>
             
             
             <th scope="col">Ticker</th>
             <th scope="col">Sentiment</th>
             <th scope="col">Sentiment Score</th>
             <th scope="col">Updated At</th>
             
            </thead>
            
                        
                        
                        <% wsb.forEach(function(wsbitem) { %>
                            
                            <tbody>
                                <% if(wsbitem.sentiment_score > 0){ %>
                                

                                    
                                    <%i++%>
                                    
                                    <tr class="wsbrows">
                                        
                                        <th><u><a href="/symbols/details/<%=wsbitem.ticker%>"><%= (wsbitem.ticker) %></a></u></th>
                                        <td><u><%= (wsbitem.sentiment) %></u></td>
                                        <td><u><%= (wsbitem.sentiment_score) %></u></td> 
                                        <td><%= (wsbitem.updatedAt.toLocaleString()) %></td> 
                                        
                                    </tr>
                                
                            <% } else{ %>
                                <tr class="wsbrows">
                                            
                                    <th><a href="/symbols/details/<%=wsbitem.ticker%>"><%= (wsbitem.ticker) %></a></th>
                                    <td><%= (wsbitem.sentiment) %></td>
                                    <td><%= (wsbitem.sentiment_score) %></td> 
                                    <td><%= (wsbitem.updatedAt.toLocaleString()) %></td> 
                                    
                    </tr>
                            
                        <%}%>
                    </tbody>
                    
                    
                    <%})%>
                    
                    
                    
    </table>  
    </div>   
          <br>
    <div class="descriptions  justify-content-center">
        <p class="box">This table contains all the stocks in the first two columns, and looks at the 20 day breakout and 70 day breakouts. The breakouts are checked by the last close. If the last close is higher than any others in the last 20 days, or 70 days (a value of true), then the stock is expected to increase in value.</p>

        <p class="box">This table is a filtered version of the last one. This contains only the stocks where the average of the last 20 days is higher than the last close. The idea is that if the average over the previous month was at a certain level, the value should move back towards that same level. This is not always true of course, but the S&P500 index, like many others, has an upward bias.</p>

        <p class="box">This table if from the API Reddit WallStreet Bets. It shows the ratings of each stock and the directions people think that it will go. Bullish for thinking it will go up 📈, and Bearish thinking it will go down 📉</p>

    </div>       
           <br><br>
                
 
</div>

<script>
    window.addEventListener("DOMContentLoaded", () =>{
        let x = document.getElementById("buttonid").innerText = ""
        let button = document.getElementById("submitbutton")

        button.addEventListener("click", () =>{
        
            
            x.innerText = ""
        
    setTimeout(function() { 
        button.disabled = true
        document.getElementById("buttonid").innerText = "This might take up to a minute"
    }, 10)
    
    
    
    })
    })
</script>
